:root {
    --border-radius: 0.25rem;

    --color-black: #000000;
    --color-white: #ffffff;

    --color-gray-100: #F2F3F1;
    --color-gray-200: #D9D8D8;
    --color-gray-300: #BFBFBF;
    --color-gray-400: #A5A6A5;
    --color-gray-500: #807F7F;
    --color-gray-600: #595958;
    --color-gray-700: #3F3F3F;
    --color-gray-800: #262626;

    --color-nav-background: #1D3964;
    --color-nav-item-background: #305497;
    --color-nav-border: #0E264A;

    --color-link-resting: #4571C4;
    --color-link-hover: #305497;
    --color-link-active: #1D3964;
    --color-link-focus: #1D3964;

    --color-claim: #C44545;

    --font-size-100: 0.9rem;
    --font-size-200: 1rem;
    --font-size-300: 1.1rem;
    --font-size-400: 1.25rem;
    --font-size-500: 1.5rem;

    --line-height-100: 1;
    --line-height-200: 1.2;
    --line-height-300: 1.3;
    --line-height-400: 1.5;
    --line-height-500: 1.75;
}




/**
 * Core
 */
body {
    background-color: var(--color-gray-200);
    color: var(--color-gray-800);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-200);
    line-height: var(--line-height-500);
    margin: 0;
    text-rendering: optimizeSpeed;
}

#wrap {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

a {
    color: var(--color-link-resting);
    word-break: break-all;
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: none;
}

a:active,
a:focus {
    color: var(--color-link-active);
}

ol,
ul {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

ol li,
ul li {
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border-left: 1px solid var(--color-gray-300);
    margin-left: 1rem;
    padding-left: 2rem;
}

figcaption {
    background-color: var(--color-gray-100);
    border-radius: var(--border-radius);
    font-size: var(--font-size-100);
    line-height: var(--line-height-400);
    margin-top: 0.5rem;
    padding: 1rem;
}




/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    color: var(--color-gray-800);
    line-height: var(--line-height-200);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

h2,
h3,
h4 {
    color: var(--color-gray-800);
    line-height: var(--line-height-400);
}

h2 {
    margin-top: 0;
}

h3,
h4 {
    margin-top: 3rem;
}





/**
 * Vertical rhythm
 */
blockquote,
p,
ul {
    margin-top: 1.75rem;
}

figure,
table {
    margin-top: 3.5rem;
}

table {
    margin-bottom: 3.5rem;
}


blockquote,
li,
p {
    line-height: var(--line-height-500);
}





/**
 * Skip Link
 */
#skiplink {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skiplink:focus {
    clip: unset;
    clip-path: unset;
    height: unset;
    overflow: unset;
    position: unset;
    white-space: unset;
    width: unset;

    background-color: var(--color-link-active);
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
      top: 1rem;
      left: 1rem;
    padding: 0.25rem 0.75rem;
}

main:focus {
    outline: none;
}




/**
 * Tables
 */
table {
    border: 0;
    border-collapse: collapse;
    line-height: var(--line-height-300);
}

td, th {
    text-align: left;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: .3em;
}

thead th, thead td {
    background-color: rgba(90, 90, 88, 0.10);
    font-size: var(--font-size-200);
}

tr:nth-child(even) {
    background-color: rgba(90, 90, 88, 0.10);
}

td:empty {
    height: 1em;
}

caption {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

[role="region"][aria-labelledby][tabindex] {
  overflow: auto;
}

[role="region"][aria-labelledby][tabindex]:focus {
  outline: .1em solid rgba(0,0,0,.1);
}

/* Scrolling Visual Cue */

[role="region"][aria-labelledby][tabindex] {
  background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}



/**
 * Print styles, whee!
 */
@media print {
    header {
        display: none;
    }

    nav {
        display: none;
    }

    footer {
        display: none;
    }

}




/**
 * Components
 */
.tagline {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 0.25ch;
    text-align: center;
    text-transform: uppercase;
}

.page {
    border: 1px solid var(--color-gray-200);
    background-color: var(--color-white);
    box-shadow: -4px 9px 25px -6px rgba(0, 0, 0, 0.25);
    grid-row: 2 / 3;
    margin-top: 4rem;
    max-width: 80ch;
    margin: 2rem auto;
    padding: 4rem 2rem;
}


.title {
    color: var(--color-gray-800);
    font-size: 3.25em;
    line-height: var(--line-height-200);
    margin-top: 6rem;
}

.subtitle {
    color: var(--color-gray-600);
    font-size: var(--font-size-500);
    font-weight: 400;
    line-height: var(--line-height-300);
    display: block;
    margin-top: 1rem;
}

.claim {
    color: var(--color-claim);
    display: block;
    font-size: var(--font-size-300);
}

.last-modified {
    color: var(--color-gray-600);
    font-style: italic;
    text-align: center;
}

.nav,
.footer {
    align-items: center;
    background-color: var(--color-nav-background);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
}

.nav {
    border-bottom: 3px solid var(--color-nav-border);
    margin-bottom: 3rem;
}

.footer {
    border-top: 3px solid var(--color-nav-border);
    margin-top: 6rem;
    padding-bottom: 4rem;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    margin: 0.5rem 0 0 0;
    padding: 0;
}

.nav ul li {
    align-items: center;
    background-color: var(--color-nav-item-background);
    border-radius: var(--border-radius);
    color: var(--color-gray-100);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-200);
    justify-content: center;
    line-height: var(--line-height-300);
    padding: 1rem;
    text-align: center;
}

.nav ul li a {
    align-items: center;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    word-break: keep-all;
    width: 100%;
}

.nav-active {
    background-color: var(--color-nav-border) !important;
}

.footer ul ol {
    list-style-type: lower-alpha;
}

.footer ul li {
    color: var(--color-gray-200);
}

.footer ul li a {
    color: var(--color-white);
}

.main-article {
    color: var(--color-gray-200);
    display: block;
    font-size: var(--font-size-100);
    text-transform: uppercase;
}




@media screen and (min-width: 50em) {
    body {
        font-size: var(--font-size-300);
    }

    figcaption {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .page {
        padding: 8rem 6rem;
    }

    .nav ul {
        flex-direction: row;
        gap: 1rem;
        max-width: 100ch;
    }

    .nav ul li {
        width: 100%;
    }
}
